<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spirit Animal</title>
  </head>

  <body>
    <h1>Spirit Animal</h1>
    <img src= https://photos.app.goo.gl/2gspydu67Daj8B2z>

    <!-- Insert Your Form Below -->
    <form method="POST" action="/food">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Spirit Animal: <input type="text" name = "spirit_animal"></p>
  <input type="submit">
   </form>
  </body>
</html>
